*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

.main{
    height: 100%;
    width: 100%;
    position: relative;
}
.nav{
    height: 90px;
    width: 100%;
    background-color: rgb(28, 118, 118);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 6vw;
    border-bottom: 2px solid #f00e0e ;
    
}
.nav-part2{
    display: flex;
    gap: 30px;
    cursor: pointer;
}

.nav h2{
    font-size: 3vw;
    font-weight: 700;
}
.nav h4{
    font-size: 2vw;
}

.nav i{
    font-size: 1.6vw;
    flex-wrap: 800;
    display: none;
}

.right img{
    height: auto;
    width: 55vw;
    position: absolute;
    float: right;
    top: 150px;
    left: 45vw;
} 
.left{
    margin: 50px;

}

.left h1{
    font-size: 4vw;
    line-height: 4vw;
}
.left h1 span{
    color: aqua;
}

.left p{
    font-size: 1.3vw;
    font-weight: 600;
    color: #666;
    width: 80%;
    margin-top: 1.5vw;
    margin-bottom: 4vw;
}
button{
    font-size: 1.5vw;
    padding: 2vw 2.3vw;
    color: #09151a;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    cursor: pointer;
    background: #1ea3dd;
}

@media (max-width:600px) {
    .nav{
        background-color: rgb(32, 118, 118);
        color: rgb(0, 0, 0);
        padding: 0 6vw;
        height: 60px;
        
    }
    .nav h2{
        font-size: 6vw;
        
    }
    .nav h4{
       font-size: 4vw;
       display: none; 
    }
    .nav i{
        display:block ;
        font-size: 40px;
        color: black;
    }

    .right img {
        position: relative;
        top: auto;
        left: auto;
        width: 100%;
        margin-top: 20px;
    }

    button{
        position: relative;
        left: 20vw;
    }
}









