* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}
body {
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: rgba(54, 54, 231, 0.815);
   
}

.container{
    height: 600px;
    width: 400px;
    background-color: #fff;
    border-radius: 12px;
}

.container img{
    height: 50%;
    width: 100%;
    object-fit: cover;
    object-position: center;
   
}
.first{
    display: flex;
    gap: 120px;
    margin: 10px 0;
}
.first h1{
    font-size: 25px;
    font-weight: bold;
    margin: 0 20px;
}

.first button{
    background-color: rgb(253, 185, 160);
    border-radius: 47px;
    padding: 7px 9px;
    border: none;
    cursor: pointer;
    color: rgba(105, 53, 11, 0.918);
}


.content p{
    font-size: 17px;
    
    line-height: 20px;
    margin: 0 22px;
}

.content h5{
    font-weight: 100;
    margin: 20px 22px;
    letter-spacing: 1px;
}

hr{
    width: 90%;
    margin: 20px 20px;
}

.icons{
    margin: 20px 35px ;
    display: flex;
    justify-content: space-between;
    
}
.last img{

    height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center;
}



.last{
    border: 0px solid #030202;
      height: 90px;
      width: 90px;
      border-radius: 50%;
      overflow: hidden; 
      margin: -5px 20px;
     
  }
  
  .story h2,
   h4{
    font-size: 15px;
    align-items: center;
    margin: 30px 120px;
    position: absolute;

  }
  .story h4{
    position: absolute;
    color: #8e8d8d;
    font-weight: 100;
    font-size: 13px;
    line-height: 50px;
  }

.popup{
     position: absolute;
    height: 600px;
    width: 400px;
    background-color: #fff;
    visibility: hidden;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    transition: transform 0.4s, top 0.4s;

}

.open-sale{
visibility: visible;
top: 50%;
transform: translate(-50%, -50%) scale(1);
}


.popup p{
    position: absolute;
    font-size: 20px;
    font-weight: 900;
    font-style: bold;
    margin:10% 0 ;
    padding: 20px;
}

.popup button{
   position: absolute;
   top:80%;
   left: 30%;
}

.popup img{
    position: absolute;
    top: 20%;
    left: 5%;
}
