* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(background.jpg);
    font-family: sans-serif;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    margin-right: 51px;
}

.navbar ul {
    display: flex;
    list-style: none;
}

.navbar li {
    margin: 21px;
    text-transform: uppercase;
}

.navbar li a {
    text-decoration: none;
    color: aliceblue;
    font-weight:500;
    transition: .4s ease;
}


.navbar li a:hover{
    color:skyblue;
}
.form-box{
    width: 92%;
    max-width: 455px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color:rgba(255, 255, 255, 0.751);
    padding: 40px;
    text-align: center;
    border-radius: 15px;
    display: none;
}
.form-box.active{
    display: block;
}
.form-box h1{
    font-size: 32px;
    margin-bottom: 63px;
    color: #3c00a0;
    position: relative;
}
.form-box h1::after{
    content: '';
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background: #3c00a0;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
}
.input-field{
    background: #eaeaea;
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
    max-height: 65px;
    transition: max-height 0.5s;
    overflow: hidden;

}
input{
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 18px 15px ;
}
.input-field i{
    margin-left: 15px;
    color: #999;
}
form p{
    text-align: left;
    font-size: 13px;
}
form p a{
    text-decoration: none;
    color: #3c00a0;
}
.formerror{
    font-size: 10px;
    color: brown;
}
.btn-field{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.btn-field button{
    flex-basis: 48%;
    background: #3c00a0;
    color: white;
    height: 40px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 1s;
}
.input-group{
    height: 280px;

}
.btn-field button.disable{
    background: #eaeaea;
    color: #555;
}













